.container {
  width: 100vw;
  height: 100%;
  display: flex;
  background-color: #f1f1f1;
}

aside {
  width: 22%;
  overflow-y: auto;
  height: 100%;
  background-color: #dfdfdf;
}

main {
  width: 78%;
  overflow-y: scroll;
}
