.container {
  width: 100vw;
  height: 100%;
  display: flex;
  background-color: #ececec;
}

aside {
  width: 22%;
  overflow-y: auto;
  height: 100%;
  background-color: #e0e0e0;
}

main {
  width: 78%;
  overflow-y: scroll;
}
