.container {
  display: flex;
  flex-direction: column;
  background-color: #dfdfdf;
  height: 100%;
}

ul {
  display: flex;
  flex-direction: column;
}

li {
  cursor: pointer;
  padding: 1rem 0;
  transition: all 0.2s;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

li:hover {
  color: #827ffe;
}

a {
  font-weight: 500;
  padding: 1.2rem;
}

.selected {
  background-color: #bdbde0;
  border-right: 5px solid #827ffe;
}

.btn-new {
  cursor: pointer;
  transition: all 0.2s;
}

.btn-new:hover {
  color: #827ffe;
}

.new-category-container {
  padding: 0.5rem 1.2rem;
}

.input-container {
  background-color: #e6e6e6;
  border-radius: 3px;
  margin-bottom: 16px;
}

input {
  color: #403866;
  display: block;
  background: 0 0;
  border: none;
  width: 90%;
  padding: 0.6rem 0.6rem;
  color: rgb(56, 55, 55);
}

.btn-container {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.btn {
  width: 50%;
  padding: 0.3rem 1rem;
}

.btn-ok {
  background-color: #8eff97;
}

.btn-ok:disabled {
  background-color: #c7ffcc;
}

.btn-ok:hover {
  background-color: #59ad60;
}

.btn-cancel {
  background-color: #ff8282;
}

.btn-cancel:hover {
  background-color: #c43c3c;
}
