<div class="container">
  <h1>Welcome</h1>
  <form #form="ngForm">
    <div class="control-container">
      <div
        class="input-container"
        [ngClass]="{
          'input-container-invalid':
            form.controls['email']?.touched && form.controls['email']?.invalid
        }"
      >
        <input
          class="input"
          type="email"
          name="email"
          placeholder="Emial"
          ngModel
          required
        />
      </div>
      <div
        class="control-error"
        *ngIf="
          form.controls['email']?.touched && form.controls['email']?.invalid
        "
      >
        Email required
      </div>
    </div>

    <div class="control-container">
      <div
        class="input-container"
        [ngClass]="{
          'input-container-invalid':
            form.controls['password']?.touched &&
            form.controls['password']?.invalid
        }"
      >
        <input
          minlength="6"
          class="input"
          type="password"
          required
          name="password"
          placeholder="Password"
          ngModel
        />
      </div>
      <div
        class="control-error"
        *ngIf="
          form.controls['password']?.touched &&
          form.controls['password']?.invalid
        "
      >
        Password must be minimum 6 characters long
      </div>
    </div>

    <div class="btn-container">
      <button
        class="btn btn-login"
        (click)="onLogin(form)"
        [disabled]="form.invalid"
      >
        Login
      </button>
      <button
        class="btn btn-signup"
        (click)="onSignup(form)"
        [disabled]="form.invalid"
      >
        Signup
      </button>
    </div>
  </form>
  <div class="message">
    <label [class]="isErrorMessage ? 'red' : 'green'">{{ message }}</label>
  </div>
</div>
