<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap"
  rel="stylesheet"
/>
<div class="container">
  <h1>Welcome</h1>
  <form>
    <div class="input-container">
      <input type="email" required name="email" placeholder="Emial" />
    </div>
    <div class="input-container">
      <input type="password" required name="email" placeholder="Password" />
    </div>

    <div class="btn-container">
      <button class="btn-login">Login</button>
      <button class="btn-signup">Signup</button>
    </div>
  </form>
</div>
