<div class="container">
  <h1>Welcome</h1>
  <form #form="ngForm">
    <div class="input-container">
      <input
        class="input"
        type="email"
        required
        name="email"
        placeholder="Emial"
        ngModel
      />
    </div>
    <div class="input-container">
      <input
        class="input"
        type="password"
        required
        name="password"
        placeholder="Password"
        ngModel
      />
    </div>

    <div class="btn-container">
      <button class="btn btn-login" (click)="onLogin(form)">Login</button>
      <button class="btn btn-signup" (click)="onSignup(form)">Signup</button>
    </div>
  </form>
  <div class="message">
    <label [class]="isErrorMessage ? 'red' : 'green'">{{ message }}</label>
  </div>
</div>
