<div class="container">
  <div class="inner-container">
    <div class="top-headers">
      <form class="serch-form" autocomplete="off">
        <input
          class="input"
          type="text"
          placeholder="Search..."
          [(ngModel)]="inputSearch"
          name="search"
          (ngModelChange)="searchTasks()"
        />

        <div *ngIf="isVisibleSearchResults" class="search-container">
          <div class="search-inner-container">
            <span *ngIf="searchResult.length < 1; else results"
              >No results for "{{ inputSearch }}"</span
            >
            <ng-template #results>
              <ul class="tasks-list">
                <li
                  *ngFor="let task of searchResult"
                  (click)="renderSelectedTask(task[0])"
                >
                  <span>{{ task[1].title }}</span>
                  <span>{{ task[1].date }}</span>
                </li>
              </ul>
              <button
                class="btn all-result-btn"
                (click)="renderAllSearchedTasks()"
              >
                See all results ({{ searchResult.length }})
              </button>
            </ng-template>
          </div>
        </div>
      </form>
      <span class="date">{{ todayDate }}</span>
      <a class="btn btn-logout" (click)="onLogout()" routerLink="../auth"
        >Logout</a
      >
    </div>
    <h1 class="title">
      <span class="category">{{ selectedCategory }}</span
      ><span class="quantity"> ({{ renderedTasksQuantity }})</span>
    </h1>
    <div class="bottom-headers">
      <button class="btn btn-add" (click)="onOpenModal()">Add task</button>
      <select
        name="sortSelect"
        id="sortSelect"
        (change)="onValueChange($event)"
      >
        <option disabled selected><span>Sort by:</span></option>
        <option *ngFor="let name of sortOptionsNames">
          {{ name }}
        </option>
      </select>
    </div>
  </div>
</div>
