<div class="container">
  <div class="inner-container">
    <div class="top-headers">
      <input type="text" placeholder="Search..." />
      <span class="date">11.03.1994</span>
      <a class="btn-logout" (click)="onLogout()" routerLink="../auth">Logout</a>
    </div>
    <h1 class="title">All tasks (1)</h1>
    <div class="bottom-headers">
      <button class="btn-add" (click)="onOpenModal()">Add task</button>
      <select name="sortSelect" id="sortSelect">
        <option disabled selected><span>Sort by:</span></option>
        <option>Earlier first</option>
        <option>Later first</option>
        <option>Completed first</option>
        <option>Uncompleted first</option>
      </select>
    </div>
  </div>
</div>
